body{
    background-color:lightgray;
}
.flex-container {
    display: flex;
    background-color: white;
    width: auto;
    height: 50px;
  }

  h1 {
      font-family: "Arial";
      align-self: center;
      text-align: center;
      

  }    
  h2 {
    font-family: "helvetica";
    align-self: center;
    margin-left: 15px;
}  

  .container {
    background-color: white;
    border-top: solid 5px rgb(254, 255, 255);
    border-bottom: solid 30px rgb(254, 255, 255);
    margin: 100px;
    margin-left: 500px;
    width: 550px;
  }

  img {
    width: 550px;
    height: auto;
  }  

  span{
    margin-left: 500px;
    color: darkgray;
  }

  p{
      font-family: "Arial";
      margin-left: 15px;
  }